
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Books Collection
    // - Allow users to read, create, update, and delete their own books.
    // - A user's UID must match the book's userId field.
    match /books/{bookId} {
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
